:root {
  --color-grey-light: #4f5b69;
  --color-grey-medium: #2e353d;
  --color-grey-dark: #23282e;
  --color-blanck: #ffffff;
  --font-primary: 16px;
  --font-smaller: 12px;
  --font-bigger: 18px;
}
