<nav class="navbar navbar-light bg-light p-3">
  <div
    class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between"
  >
    <a
      class="navbar-brand"
      target="_blank"
      href="https://wenea.com/international/"
    >
      <img
        class="align-middle img-fluid"
        src="../../../assets/images/wenea-logo.png"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler d-md-none collapsed mb-3"
      type="button"
      data-toggle="collapse"
      data-target="#sidebar"
      aria-controls="sidebar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div
    class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0"
  >
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        Hello, {{ name }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" (click)="onSignOut()">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebar"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-home"
              >
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                <polyline points="9 22 9 12 15 12 15 22"></polyline>
              </svg>
              <span class="ml-2">Dashboard</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>
        </ol>
      </nav>
      <h1 class="h2">Dashboard</h1>
      <p>
        This is the homepage, interface for visualization different data types
      </p>

      <div class="row my-4">
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
          <div class="card">
            <h5 class="card-header">#1 Temperature</h5>
            <div class="card-body">
              <app-chart-weather></app-chart-weather>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
          <div class="card">
            <h5 class="card-header">#2 Temperature</h5>
            <div class="card-body">
              <app-chart-weather [chartType]="'line'"></app-chart-weather>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
          <div class="card">
            <h5 class="card-header">#3 Temperature</h5>
            <div class="card-body">
              <app-chart-weather [chartType]="'scatter'"></app-chart-weather>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
          <div class="card">
            <h5 class="card-header"></h5>
            <div class="card-body">
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
          <div class="card">
            <h5 class="card-header">Latest transactions</h5>
            <div class="card-body">
              <ng-container
                *ngIf="users; then registers; else empty"
              ></ng-container>
              <ng-template #registers>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Living</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Identificacion</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let user of getUsersToShow()">
                      <tr>
                        <th scope="row">{{ user.order }}</th>
                        <td>{{ user.addressRe }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                          <a
                            class="btn btn-sm btn-primary"
                            (click)="onInfoUser(user)"
                            >View</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <a
                  class="btn btn-block btn-light"
                  (click)="toggleShowAllUsers()"
                  >{{ showAllUsers ? 'Show less' : 'View all' }}</a
                >
              </ng-template>
              <ng-template #empty> Ups! Users...</ng-template>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card mb-4">
            <h5 class="card-header">Market</h5>
            <div class="card-body">
              <app-chart-random></app-chart-random>
            </div>
          </div>
          <div class="card mb-4">
            <h5 class="card-header">Example doughnut chart</h5>
            <div class="card-body">
              <app-chart-weather [chartType]="'doughnut'"></app-chart-weather>
            </div>
          </div>
          <div class="card">
            <h5 class="card-header">Location</h5>
            <div *ngIf="coordinates" class="card-body">
              <app-map [geoLocal]="coordinates" [popup]="city"></app-map>
            </div>
          </div>
        </div>
      </div>
      <footer class="pt-5 d-flex justify-content-between">
        <span
          >Copyright © 2023
          <a href="https://github.com/JulioRodriguezR">JulioRodriguezR</a></span
        >
        <ul class="nav m-0">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Contact</a>
          </li>
        </ul>
      </footer>
    </main>
  </div>
</div>
