<div class="nav-side-menu">
  <div class="brand p-2">
    <img
      class="align-middle img-fluid"
      src="../../../assets/images/wenea-logo.png"
      alt=""
    />
  </div>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a href="#"> <i class="fa fa-dashboard fa-lg"></i> Dashboard </a>
      </li>
      <li
        data-toggle="collapse"
        data-target="#detailsCollapse"
        class="collapsed active"
      >
        <a href="#"> <i class="fa fa-user fa-lg"></i> Profile </a>
      </li>
      <li>
        <a href="#"> <i class="fa fa-users fa-lg"></i> Users </a>
      </li>
    </ul>
  </div>
</div>
