<header class="navbar flex-md-nowrap p-0 shadow p-2">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"></a>
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link pxd-3" href="#">Sign out</a>
    </div>
  </div>
</header>

<div class="nav-side-menu">
  <div class="brand p-2">
    <a href="https://wenea.com/international/">
      <img
        class="align-middle img-fluid"
        src="../../../assets/images/wenea-logo.png"
        alt=""
      />
    </a>
  </div>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li class="active">
        <a href="#"> <i class="fa fa-dashboard fa-lg"></i> Dashboard </a>
      </li>
      <li>
        <a href="#"> <i class="fa fa-user fa-lg"></i> Profile </a>
      </li>
    </ul>
  </div>
</div>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="chartjs-size-monitor">
    <div class="chartjs-size-monitor-expand"><div class=""></div></div>
    <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
  </div>
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h2>Dashboard</h2>
  </div>

  <app-chart-weather></app-chart-weather>

  <!-- <app-animated-chart></app-animated-chart> -->

  <!-- <app-map></app-map> -->
</main>
